 /* body{
    background-color: black;
 } */
 .banner{
     width: 100%;
     height: 90vh;
     background-image: url('https://i.postimg.cc/ysLqVb7k/ultra-4k-game.jpg');
     background-size: cover;
 }

  .dim{
    background-color: rgba(0, 0, 0, 0.651);
  }
 .row .col{
    width: 300px;
 }
 .row .col .card img{
    margin: 4px 0;
 /* border: 4px solid  black; */
 object-fit:contain;
 aspect-ratio: 3/2;
 }
 
 h1{
    color: black;
    padding-top: 100px;
    font-weight: 900;
 }
 .row .col .card{
    border: 1px solid white;
 }
 @media only screen and (max-width: 300px){
    .col .row{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px){
    .col .row{
        display: flex;
        flex-direction: column;
    }
}



/* 
--targets all the mentioned identiifers--
nav,main,footer

*/

.banner h1{
    font-weight: 900;
    fon
}